.compose{
    position: absolute;
    bottom: 0;
    right: 70px;
    min-width: 500px;
    border-radius: 10px 10px 0px 0px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgb(51 51  52/59%);
    background-color: #fff;
}

.compose .compose-header{
    display: flex;
    justify-content: space-between;
    background: #333;
    color: #fff;
    align-items: center;
    padding: 7px 15px;
}

.compose-header-left span{
    font-size: 14px;

}

.compose-header-right {
    display: flex;
    align-items: center;
}

.compose .compose-header .compose-header-right svg{
    font-size: 18px;
    margin-left: 10px;
    transition: 0.2s linear 0s;
    padding: 3px;
}

.compose-header-right svg:nth-child(2) path {
    transform: rotate(45deg);
    transform-origin: center;
}

.compose .compose-header .compose-header-right svg:hover{
    background-color: #545454;
    cursor: pointer;
}

.compose-body{
    display: flex;
    margin-left: 10px;

}

.compose-bodyform{
    display: flex;
    flex-direction: column;
}

.compose-body input,textarea{
    width: 100%;
    height: 40px;
    outline: 0;
    border: 0px;
    box-shadow: inset 0 -1px 0 0 rgb(100 121 143/12%);
    padding: 0px 0px;
}

.compose-body textarea{
    height: auto;
}

.compose-footer{
    display: flex;
    justify-content: space-between;
    padding: 12px 10px;
}

.compose-footer-left button{
    display: flex;
    align-items: center;
    cursor: pointer;
    border: 0px;
    background-color: #297be6;
    outline: 0px;
    color: #fff;
    font-size: 10px;
    padding: 0px 0px 0px 15px !important;
    border-radius: 4px;
    letter-spacing: 1px; 
}

.compose-footer-left button svg{
    border-left: 1px solid #00000052;
    margin-left: 15px;
    padding: 6px 2px 6px 2px;
}

.compose-footer-right svg{
    font-size: 20px;
    margin-left: 10px;
    border-radius: 3px;
    color: gray;
    padding: 3px;
    transition: 0.2 linear 0s;
    cursor: pointer;
}

.compose-footer-right svg:hover{
    background-color: #eee;
    color: #000;
}