.emaillist{
    display: flex;
    flex-direction: column;
}

.emaillist-settings{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    justify-content: space-between;
    border-bottom: 1px solid whitesmoke;
}

.emaillist-settings svg{
    font-size: 18px;
}

.emaillist-settingRight{
    display: flex;
    align-items: center;
}

.emaillist-settingsRight p{
    font-size: 13px;
}

.emailtype{
    display: flex;
    align-items: center;
    border-bottom: 1px solid whitesmoke;

}

.emailtype > .emailtype-options{
    display: flex;
    align-items: center;
    min-width: 230px;
    padding: 0px 10px;
    cursor: pointer;
    border-bottom: 3px solid #fff;
}

.emailtype > .emailtype-options svg{
    font-size: 20px;
    color: grey;
    margin-right: 10px;
}

.emailtype > .emailtype-options p{
    font-size: 15px;
}

.emailtype > .emailtype-options:hover{
    background-color: whitesmoke;
}

.emailtype-options-active{
    border-bottom: 3px solid #d93025 !important;
}

.emailtype-options-active p,
.emailtype-options-active svg{
    color: #d93025;
    font-weight: bold;
}

.emailbody{
    display: flex;
    align-items: center;
    border-bottom:1px solid whitesmoke ;
    border: 1px solid whitesmoke;
    padding: 0px 10px;
    height: 40px;
}

.emailbody:hover{
    box-shadow: 2px 2px 4px whitesmoke;
    cursor: pointer;
}

.emailbody .emailbody-left{
    display: flex;
    align-items:center;
    min-width: 300px;
    flex: 20%;
}

.emailbody .emailbody-left svg{
    font-size: 18px;
    color: gray;
    margin-right: 15px;
}
.emailbody .emailbody-middle{
    display: flex;
    align-items: center;
    flex: 90%;
}

.emailbody-middle .emailbody-middle-msg{
    display: flex;
    width: 90%;

}

.emailbody .emailbody-middle p{
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0px 20px;
    max-width: 700px;
}

.emailbody .emailbody-right{
    display: flex;
    align-items: center;
    flex: 10%;
    justify-content: flex-end;
}
